[submodule "agents/deps/a2a"]
	path = archives/agents/deps/a2a
	url = git@github.com:google/A2A.git
[submodule "nips"]
	path = nips
	url = git@github.com:nuwa-protocol/NIPs.git
[submodule "deps/rooch"]
	path = deps/rooch
	url = git@github.com:rooch-network/rooch.git
[submodule "nuwa-client"]
	path = nuwa-client
	url = git@github.com:nuwa-protocol/nuwa-client.git
