# Dependencies
node_modules
packages/*/node_modules

# Build outputs
**/dist
**/build
coverage

# Lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock

# Generated assets
packages/*/public/*.js
packages/*/public/*.css

# Misc
.DS_Store
