html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Work Sans Variable', sans-serif;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.rooch-chat-app {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.rooch-chat-app main {
  overflow-y: auto;
  padding: 1rem;
  flex: 1;
}

.rooch-chat-app header {
  flex-shrink: 0;
}